@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,900|Raleway:400,800,600,200|Montserrat:400,700);

/*-----------FONT LIST--------------
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
----------------------------------*/
 .body {


 }

.pageItems{
  font-size: 1vw;
  font-family: 'Raleway', sans-serif;
  color: black;
  margin-bottom: .5em;

}
.pageItemsName{
  font-size: 1.5vw;
  font-family: 'Raleway', sans-serif;
  color: black;
  margin-bottom: .5em;

}

img{
  height: 20vw;
  /*border-radius: 125vw;*/
}

.prof{
  display: inline-block;
  /*border: 2px #79BD9A solid;*/
  width: 300px;
  height: auto;
  font-family: 'Lato', sans-serif;
  margin-bottom: 5vw;
  margin-left: 2vw;
  margin-right: 2vw;
  /*background-color: #2f2f2f;*/
}

.editButtons{

  display: inline-block;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: white;
}

li.pagebuts{
    display: inline;
    font-size: 1vw;

}

ul.buttonholder{
      word-spacing: 2vw;
}

.membert{
  font-family: 'Raleway', sans-serif;
  font-size: 5vw;
  padding-top: 3vw;
}

.addnew{
  color: #2f2f2f;
  font-family: 'Lato', sans-serif;

}

#notice{
  font-family: 'Lato', sans-serif;
}
