<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/reset.css">
<!-- <link rel="stylesheet" type="text/css" href="../../assets/Andres/style.css"> -->


<!DOCTYPE html>
<html>
<head>
  <title>Lab Rats | Member Directory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

      <%= yield %>

</body>
</html>
