<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="./css/landing.css">

<!DOCTYPE html>
<html>
<head>
	<title>People of the Lab</title>
</head>
<body>
  <div class="background">
    <div id="tittle">People of the Lab</div>
		<div class="buttonz">
	    <a href="#" class="landingbutton" id="lpeople" >People</a>
	    <a href="#" class="landingbutton" id="lcompany" >Companies</a>
		</div>
	<video id="vid" autoplay loop src="http://vid296.photobucket.com/albums/mm195/Zlerp/My%20Movie_zpshbheambq.mp4"></video>



  </div>
</body>
</html>
