<!-- 
<div class="container">
<header>
  <header class="menuBar">
    <div class="menublock">
      <ul class="navmenu">
        <li><a href="/" id="home" class="menuitems button hvr-grow">HOME</a></li>
        <li class="menuitems"><a href="#" class="menubuttons">ABOUT US</a></li>
        <li class="menuitems"><a href="#" class="menubuttons">COMPANIES</a></li>
      </ul>

    </div>
  </header>
</header>


<div class="background">
  <div class="hiddent" id="tittle">About Us</div>
<video class="hiddenv" id="aboutvid" autoplay loop src="http://vid296.photobucket.com/albums/mm195/Zlerp/movie%20us_zpshbfatjay.mp4"></video>


</div> -->
