<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/reset.css">
<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/landing.css">
<!DOCTYPE html>
<html>
<head>
	<title>People of the Lab</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../../assets/javascripts/application.js"></script>
  <!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
</head>
<body>
  <div class="background">
    <div class="hiddent" id="tittle">People of the Lab</div>
		<div class="buttonz gone">
      <span>
	      <a href="members" class="landingbutton hvr-bounce-to-top" id="lpeople" >People</a>
      </span>
      <span>
	      <a href="../companies.html.erb" class="landingbutton hvr-bounce-to-top" id="lcompany" >Companies</a>
      </span>
		</div>
    <!-- BLACK AND WHITE -->
	<!-- <video class="hidden" id="vid" autoplay loop src="http://vid296.photobucket.com/albums/mm195/Zlerp/My%20Movie-BW%201_zpscad7lpi9.mp4"></video> -->
  <!-- COLOR -->
  <video class="hidden" id="vid" autoplay loop src="http://vid296.photobucket.com/albums/mm195/Zlerp/My%20Movie-2%203_zps3vcvwwfq.mp4"></video>


  </div>
</body>
</html>
