
  <div class="background">
    <div class="hiddent" id="tittle">LabRats</div>
		<div class="buttonz gone">
      <span>
	      <a href="members" class="landingbutton hvr-bounce-to-top" id="lpeople" >People</a>
      </span>
      <span>
	      <a href="../companies" class="landingbutton hvr-bounce-to-top" id="lcompany" >Companies</a>
      </span>
		</div>
    <!-- BLACK AND WHITE -->
	<!-- <video class="hidden" id="vid" autoplay loop src="http://vid296.photobucket.com/albums/mm195/Zlerp/My%20Movie-BW%201_zpscad7lpi9.mp4"></video> -->
  <!-- COLOR -->
  <video class="hiddenv" id="vid" autoplay loop src="http://vid296.photobucket.com/albums/mm195/Zlerp/My%20Movie-2%203_zps3vcvwwfq.mp4"></video>


  </div>
