
<div class="container">
<header>
  <header class="menuBar">
    <div class="menublock">
      <ul class="navmenu">
        <li class="menuitems"><a href="#" class="menubuttons">ABOUT US</a></li>
        <li class="menuitems"><a href="#" class="menubuttons">COMPANIES</a></li>
        <li class="menuitems"><a href="#" class="menubuttons">PEOPLE</a></li>
      </ul>
      <!-- <div class="socialbar">
      </div> -->
    </div>
  </header>
</header>
<div class="bannerz">

<%= render 'form' %>

<%= link_to 'Back', members_path %></a>

  </div>
  </div>
